Recordings-1.txt
Working with COVID
Assignment 1/.ipynb_checkpoints
Assignment 1/.vscode
Assignment 1/question1.pdf
Assignment 1/test
Assignment 2/*
!Assignment 2/part2_q4.mlx
!Assignment 2/part2_q5.mlx
!Assignment 2/*.fasta
Assignment 3/*
!Assignment 3/*.pdb
!Assignment 3/*.py